<%- include('layouts/header.ejs') %>


<%- include('layouts/navigator-user.ejs') %>
</div>
<div class="card-columns">
     <!-- start of user cart cartList display -->
<% for(let cartList of userCartList) {%> 
    <div class="card text-center">
      <img class="card-img-top" src="<%= cartList.imageUrl%>" alt="<%= cartList.title%>">
      <div class="card-body">
        <h5 class="card-title"><%= cartList.price%> </h5>
        <p class="card-text"><%= cartList.title%></p>
     </div>
      <div class="card-footer">
        
        <a  class="btn btn-primary" href='/user/deleteCartItem/<%= cartList._id%>'>Delete</a>
      </div>
    </div>
  <%  }%> 
        <!-- end of cartList display -->    
      </div> 
      <div class="text-center">
      <a href="/user/payment/1234">
      <button class="btn btn-primary btn-lg text-center" type="submit">Continue to checkout</button></a></div>
  </div>
</div>
</body>

<%- include('layouts/footer.ejs') %>

<script>
 
  $('#shoppingcart').html('<a href="/user/payment/1234"></a>')

  </script>


