<%- include('layouts/header.ejs') %>


<%- include('layouts/navigator-admin.ejs') %>



<div class="card-columns">

  <!-- start of product display -->
  <% for(let product of products) {%>
  <div class="card text-center">
    <img class="card-img-top" src="<%= product.imageUrl%>" alt="<%= product.title%>">
    <div class="card-body">
      <h5 class="card-title"><%= product.price%> </h5>
      <p class="card-text"><%= product.title%></p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg"
         data-imageUrl="<%= product.imageUrl%>"   data-title=<%= product.title%> data-price=<%= product.price%> 
         data-description='<%= product.description%> '
         id='productDetailBtn'>Detail</button>

      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg"
      data-imageUrl="<%= product.imageUrl%>"   data-title=<%= product.title%> data-price=<%= product.price%> 
         data-description='<%= product.description%> '
        data-productid=<%= product._id%> id='productEditBtn'>Edit</button>

        <form action="/admin/delete" method="post">
        <input type="text" value=<%= product._id%> name='id' hidden>
        <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
        </form>
      
    </div>
  </div>
  <%  }%>
  <!-- end of product display -->
</div>

</div>
</body>

<%- include('layouts/footer.ejs') %>

<!-- product detail and edit modal  -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id='editndeletmodal'
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">e-shopping</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div style="display: inline;" id='detailDisplayCard'>
        <div class="card-columns">
          <div class="card text-center ">
            <img class="card-img-top" id= 'itemImage' src="" alt="ItemImages">
            <div class="card-body">
              <h5 class="card-title" id='productPrice'>price</h5>
              <p class="card-text" id='productTitle'>title</p>
            </div>

          </div>
          <div class="card text-center ">
            <strong><p id='productDescription'>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facere nam voluptas harum tempore sequi deserunt nobis perferendis ullam eius ad quae tempora,
                quas officia quos, omnis, dolore molestias expedita. Commodi?</p></strong>
            <div class="card-body">
              <h5 class="card-title">Rates</h5>

            </div>

          </div>
        </div>
      </div>
        <!-- Edit forms -->
        <div style="display: none;" id='editform'>

          <form action="/admin/edit-products" method="POST">
            <input type="text" class="form-control" name="id" id='editProdId' hidden>
            <div class="form-group">
              <label for="title">Product Title</label>
              <input type="text" class="form-control" name="title" id='editProdTitle' required>
              <small id="TitleHelp" class="form-text text-muted">add products title here</small>
            </div>
            <div class="form-group">
              <label for="title">Product image</label>
              <input type="text" class="form-control" name="imageUrl" id='editProdImgUrl' required>
              <small id="imageURLHelp" class="form-text text-muted">add products image URL here</small>
            </div>
            <div class="form-group">
              <label class="control-label">Price</label>
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input name='price' type="number" class="form-control" id='editProdPrice' aria-label="Amount (to the nearest dollar)"
                    required>
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="editProdDescription">Product Description</label>
              <textarea class="form-control" name='description' id="editProdDescription" rows="3" spellcheck="false"></textarea>
            </div>
            <button type="submit" class="btn btn-primary text-center">Update</button>
          </form>

        </div>


        <!-- Edit forms -->



      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- detail modal  -->

<script>
  $('#editndeletmodal').on('show.bs.modal', function (event) {
   
    let button = $(event.relatedTarget) // Button that triggered the modal
    let modal = $(this)
    let prodDescription = button.data('description') // Extract info from data-* attributes
    let prodImgUrl = button.data('imageurl')
    let prodTitle = button.data('title')
    let prodPrice = button.data('price')

if(button[0].id=='productDetailBtn'){

  $('#editform').hide();
  $('#detailDisplayCard').show();

    modal.find('#productPrice').text(prodPrice)
    modal.find('#productTitle').text(prodTitle)
    $('#itemImage').attr("src", prodImgUrl);
    modal.find('#productDescription').text(prodDescription)

}
else{

  $('#detailDisplayCard').hide();
  $('#editform').show();

  modal.find('#editProdId').val(button.data('productid'))
  modal.find('#editProdTitle').val(prodTitle)
  modal.find('#editProdImgUrl').val(prodImgUrl)
  
  modal.find('#editProdPrice').val(prodPrice)
  modal.find('#editProdDescription').val(prodDescription)

  
  
  
}
    // // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    // var modal = $(this)
    // modal.find('.modal-title').text('New message to ' + recipient)
    // modal.find('.modal-body input').val(recipient) */


  })


</script>